@use "./variables" as *;
body,
html {
  background-color: #f5f5f5;
  z-index: -9999px;
}
a {
  display: block;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #ffffff;
  & .logo {
    margin-left: 30px;
  }
  & .right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 36px;
    & .right-icon {
      position: relative;
      width: 20px;
      height: 20px;
      & .redPoint {
        position: absolute;
        top: -2px;
        right: 0;
      }
    }
    & .profile {
      width: 32px;
      height: 32px;
    }
  }
}
.sidebar {
  width: 260px;
  background-color: #ffffff;
  & .side-menu img {
    display: inline-block;
  }
}
