@use "./variables" as *;
.wrap {
  width: 860px;
  margin: 80px auto 0;
  //   background: rgb(204, 230, 164);
  .taps_wrap {
    display: flex;
    align-items: center;
    height: 38px;
    gap: 15px;
    color: #212121;
    & li {
      position: relative;
    }
    & input[type="radio"] {
      position: absolute;
      left: -9999px;
    }
    & label {
      padding: 11px 14px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 400;
      background: #f5f5f5;
      cursor: pointer;
    }
    & input[type="radio"]:checked + label {
      background-color: #1456fd;
      color: #fff;
    }
  }
  .accordion {
    width: 860px;
    color: #424242;
    // background: #ccc;
    & .accordion-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
      margin-top: 18px;
      border-bottom: 1px solid #F5F5F5;
      padding-bottom: 18px;
      &.active .accordion-title{
        font-weight: 600;
      }
      &.active .arrow-icon {
        transform: rotate(180deg); /* 화살표 위로 회전 */
      }
      & .question {
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #1456fd;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        z-index: 1;
        margin-right: 10px;
      }
      & .question::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        filter: drop-shadow(0px 1px solid #F5F5F5 4px rgba(0, 0, 0, 0.09));
      }
      & .accordion-title {
        font-weight: 400;
      }
      & .arrow-icon {
        display: inline-block;
        width: 20px;
        height: 11px;
        margin-left: 8px;
        background: url(/public/prime/faq_arrow-icon.png) no-repeat center;
        background-size: contain;
        transition: transform 0.4s ease;
      }
    }
    .accordion-content {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding: 20px 0 20px 40px;
      background: #f5f5f5;
      border-radius: 5px;
      margin-top: 18px;
      font-weight: 500;
    }
  }
}
